@media screen and (max-width: 991px) {
	body {
	width: 100%;
	height: 100%;
	font-family: 'Roboto', sans-serif;
	}

	p {
		margin: 0;
	}

	.sidebar {
		display: inline-block;
		float: left;
		width: 300px;
		min-height: 100%;
	}

	.topheader {
		display: inline-block;
		width: -moz-calc(100% - 300px);
	    width: -webkit-calc(100% - 300px);
	    width: calc(100% - 300px);
		border-bottom: 2px solid #eff2f4;
		border-left: 2px solid #eff2f4;
	}

	.description {
		font-size: 80px; 
		color: #A9A9A9; 
	}

	.topleft {
		border-bottom: 2px solid #eff2f4;
		padding: 90px 60px;
		font-size: 80px; 
		text-align: center;
	}

	.bottomleft {
		float: left;
		padding: 80px;
		border-bottom: 2px solid #eff2f4;

	}

	/* About button and Image */
	#about {
		margin: 0;
		padding: 10px 25.7px;
		font-weight: bold;
		text-transform: uppercase;
	}

	.me-image {
		margin-top: 30px;
		width: 140px;
		border-radius: 50%;
	}

	#about-text {
		color: #A9A9A9;
		font-weight: bold;
		text-align: center;
		padding-top: 30px;
		font-size: 14px;
	}
	/* End of About button and Image */

	#logo {
		text-decoration: none;
		font-weight: bold;
		font-size: 50px;
	}

	#nav {
		border-bottom: 2px solid #eff2f4;
		padding: 90px;
	}

	ul {
		padding: 0;
		margin: 0;
	}

	#nav > ul > li {
		list-style: none;
		font-size: 16px;
		text-transform: uppercase;
		padding: 10px 0px;
		text-align: center;
	}

	#nav > ul > li > a {
		color: #A9A9A9;
		font-weight: bold;
	}

	#descriptioncontainer {
		padding: 90px;
	}

	.wrapper {
		margin-left: 300px;
		border-left: 2px solid #eff2f4;
	}

	.post {
		margin: 45px;
	}

	.post-inner {
		border-bottom: 2px solid #eff2f4;
		padding: 90px;
	}

	/* ============================================ */
	/* Post Title, Published, Text, Image Styling   */
	/* ============================================ */

	#post-title {
		font-size: 60px;
		font-weight: bold;
		color: black;
		border-left: 5px solid #3EB0F7;
		padding-left: 10px;
		padding-right: 30%;
	}

	#post-published {
		font-size: 16px;
		color: black;
		padding-left: 3px;
		padding-top: 10px;
	}

	#post-text {
		font-size: 30px;
		padding: 30px 0px;
		padding-left: 3px;
		margin-right: 30%;
	}

	.img-responsive {
		width: 954.1px;
		min-height: 300px;
		padding-bottom: 30px;
	}

	.btn {
		margin-top: 10px;
		font-weight: bold;
		float: right;
		margin-right: 30%;
	}


}

@media screen and (max-width: 700px) {
	body {
		width: 100%;
		height: 100%;
		font-family: 'Roboto', sans-serif;
	}

	p {
		margin: 0;
	}

	.topheader {
		display: block;
	}

	.description {
		font-size: 30px; 
		color: #A9A9A9; 
		text-align: center;"
	}

	.topleft {
	}

	.sidebar {
		border-bottom: 2px solid #eff2f4;
	}

	.navbar-toggler {
		border: 1px solid black;
	}

	.bottomleft {
		display: none;

	}

	/* About button and Image */
	#about {
		margin: 0;
		padding: 10px 25.7px;
		font-weight: bold;
		text-transform: uppercase;
	}

	.me-image {
		margin-top: 30px;
		width: 140px;
		border-radius: 50%;
	}

	#about-text {
		color: #A9A9A9;
		font-weight: bold;
		text-align: center;
		padding-top: 30px;
		font-size: 14px;
	}
	/* End of About button and Image */

	#logo {
		text-decoration: none;
		font-weight: bold;
	}



	ul {
		padding: 0;
		margin: 0;
	}

	#nav > ul > li {
		list-style: none;
		font-size: 16px;
		text-transform: uppercase;
		padding: 15px 0px;
		text-align: center;
	}

	#nav > ul > li > a {
		color: #0099ff;
		font-weight: bold;
	}

	#descriptioncontainer {
		padding: 30px 30px 0px 30px;
	}

	.wrapper {
		width: 100%;
	}

	.postcontainer {
		padding: 0 30px 30px 30px;
		margin: 0;
	}
	.posts {
		clear: both;
		padding-bottom: 60px;
		padding-top: 60px;
		border-bottom: 2px solid #eff2f4;
	}

	.post-inner {

	}

	/* ============================================ */
	/* Post Title, Published, Text, Image Styling   */
	/* ============================================ */

	#post-title {
		font-size: 35px;
		font-weight: bold;
		color: black;
		border-left: 3px solid #3EB0F7;
		padding-left: 3px;
	}

	#post-published {
		font-size: 16px;
		color: black;
		padding-left: 3px;
		padding-top: 10px;
	}

	#post-text {
		font-size: 18px;

	}

	.img-responsive {
		width: 360px;
		min-height: 300px;
		padding-bottom: 30px;
	}

	.btn {
		font-weight: bold;
		float: right;
	}
}

